.primary_links {
    display: flex;
    align-items: flex-end;
}

.special {
    color: #fff;
}

.text1,
.text2 {
    font-family: Arial, sans-serif;
}

.text1 {
    color: #ccc;
    font-size: 12px;
}

.text2 {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: .2px;
}