.box {
    height: 100%;

    &:nth-child(n) {
        padding: 10px 9px;
        border: 1px solid transparent;
        border-radius: 2px;
    }
}

.box:hover {
    cursor: pointer;

    &:nth-child(n) {
        border-color: white;
    }
}