.searchBar {
    display: flex;

    &:nth-child(n) {
        height: 45px;
    }
}

.searchBar {

    & :nth-child(odd) {
        border: 2px solid #131921;

        &:focus {
            border-color: #FF9900;
        }
    }

}