:root {
  --font-arial: Arial, sans-serif;

  --color-page-background: #E3E6E6;

  --color-primary: #000000;
  --color-light: #fff;
  --color-light-secondary: #cccccc;

  --color-background-nav-light: #37475A;
  --color-background-nav-medium: #232F3E;
  --color-background-nav-dark: #131921;

  --color-searchbar-input: #FEBD69;
  --color-searchbar-input-hover: #F3A847;
  --color-focus-searchbar: #FF9900;

  --color-button-native-light: #ebebeb;
  --color-button-native-dark: #DADADA;

  --color-shopingCart-number: #f08804;

  --color-chevron-border: #007185;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin: 0 auto;
  font-family: var(--font-arial);
  background-color: var(--color-page-background);
}

a {
  color: inherit;
  text-decoration: none;
}